{% extends 'base.html' %}

{% block title %}{{ request.site.name }} - Member List{% endblock %}

{% block content %}
<div class='row justify-content-center'>
  <div class='col-md-6'>
    <table class='table table-striped'>
      <tr>
        <th>Name</th>
	<th>Boat Name</th>
      </tr>
      {% for member in members %}
        <tr>
	  <td><a href="{% url 'member_detail' member.id %}">{{ member.get_full_name }}</a></td>
	  <td><a href="{% url 'vessel_detail' member.vessel.id %}">{{ member.vessel.name }}</a></td>
	</tr>
      {% endfor %}
    </table>
</div>
{% endblock %}
