{% extends 'base.html' %}

{% block title %}{{ site.name }} - Log In{% endblock %}

{% block content %}
<form method='post'>
  <div class='row justify-content-center'>
    {% csrf_token %}
    <div class='col-md-4'>
      <h4>Log In</h4>
      <table class='table table-striped'>
        {{ form.as_table }}
      </table>
      <p style='font-size: 8pt;'>You don't remember your password? Click <a href="{% url 'password_reset' %}">here</a> to get a new one.</p>
      <button type='submit' class='btn btn-primary'>Log In</button>
    </div>
  </div>
</form>
<script>
  $('input').addClass('form-control');
</script>
{% endblock %}
