{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
<h4>Password Reset</h4>
<p style='padding-top: 12px;'>Enter your email address below, and we'll email instructions for setting a new one.</p>

<form method="POST">
  {% csrf_token %}
  <table class='table table-borderless' style='width: 400px;'>
      {{ form.as_table }}
  </table>
  <button type='submit' class='btn btn-primary'>Send instructions</button>
</form>
<script>
  $('input').addClass('form-control');
</script>
{% endblock %}
