{% extends 'base.html' %}

{% block title %}Enter new password{% endblock %}

{% block head %}
<style>
  .helptext {
	  font-size: 8pt;
  }
</style>
{% endblock %}

{% block content %}

{% if validlink %}

<h4>Reset Password</h4>
<form method="POST">
  {% csrf_token %}
  <table class='table table-borderless' style='width: 600px;'>
      {{ form.as_table }}
  </table>
  <button type='submit' class='btn btn-primary'>Submit</button>
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
<script>
  $('input').addClass('form-control');
</script>
{% endblock %}
