{% extends 'base.html' %}

{% block title %}{{ request.site.name }} - {{ vessel.name }}{% endblock %}

{% block content %}
<div class='row justify-content-center'>
  <div class='col-md-6'>
    <table class='table table-striped'>
      <tr>
        <th>Name:</th>
	<td>{{ vessel.name }}</td>
      </tr>
      <tr>
        <th>Owners:</th>
	<td>
	  {% for owner in vessel.owners.all %}
	  <a href="{% url 'member_detail' owner.id %}">{{ owner.get_full_name }}</a>{% if not forloop.last %}, {% endif %}
	  {% endfor %}
	</td>
      </tr>
      {% if not vessel.privacy_mode %}
      <tr>
        <th>Make and model:</th>
	<td>{{ vessel.make_and_model }}</td>
      </tr>
      <tr>
        <th>Year built:</th>
	<td>{{ vessel.year_built }}</td>
      </tr>
      <tr>
        <th>MMSI:</th>
	<td>{{ vessel.mmsi }}</td>
      </tr>
      {% endif %}
    </table>
</div>
{% endblock %}
